@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

$primary-text-color: #222222;
$secondary-text-color: #444444;
$tertiary-text-color: #666666;
$light-text-color: #ffffff;
$red-text-color: #a24d4d;

$primary-background-color: #fafafa;
$secondary-background-color: #d3d3d3;
$tertiary-background-color: #666666;
$light-background-color: #ffffff;
$dark-background-color: #222222;
$red-background-color: #a24d4d;

$general-font: 'Manrope', sans-serif;

$extra-large-font-size: 60px;
$larger-font-size: 30px;
$large-font-size: 20px;
$medium-font-size: 18px;
$small-font-size: 16px;

//Screen width 1000px and above
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $general-font;
  font-size: $small-font-size;
  line-height: 1.7;
  z-index: 1;

  a {
    text-decoration: none;
  }

  div {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
  }
}

// General Text Styles
.light-text-color {
  color: $light-text-color;
}

.tertiary-text-color {
  color: $tertiary-text-color;
}

.primary-text-color {
  color: $primary-text-color;
}

.red-text-color {
  color: $red-text-color;
}

.shadow-text {
  text-shadow: 1px 1px 25px $primary-text-color;
}

.bold-800-text {
  font-weight: 800;
}

.bold-500-text {
  font-weight: 500;
}

.larger-bold-header-text {
  font-size: $larger-font-size;
  font-weight: 700;
}

.large-bold-header-text {
  font-size: $large-font-size;
  font-weight: 700;
}

.medium-bolder-header-text {
  font-size: $medium-font-size;
  font-weight: 900;
}

.medium-bold-header-text {
  font-size: $medium-font-size;
  font-weight: 700;
}

.medium-header-text {
  font-size: $medium-font-size;
}

.small-bold-header-text {
  font-size: $small-font-size;
  font-weight: 700;
}

// General Container Styles
.dark-grey-container {
  background: $secondary-background-color;
}

.section-header-container {
  display: grid;
  padding-bottom: 20px;
  justify-items: center;
  h2 {
    font-size: $larger-font-size;
    font-weight: 700;
  }

  p {
    font-size: $medium-font-size;
    font-weight: 300;
    text-align: center;
  }
}

.placeholder-div {
  // border: 1px solid grey;
}

.wrapper-container {
  padding-top: 70px;
}

// Navigation section styles
nav {
  position: fixed;
  top: 0;
  background: $light-background-color;
  width: 100%;
  // border: 1px solid grey;

  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  z-index: 2;
}

.nav-content-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 70px;
  // border: 1px solid grey;
  align-items: center;
}

.logo {
  width: 40px;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
  color: $tertiary-text-color;
  font-size: $small-font-size;
  font-weight: 500;
  // border: 1px solid grey;
}

.nav-bar-link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}

.nav-link {
  padding: 5px 8px;
  justify-self: center;
  border: 1px solid $light-background-color;
  border-radius: 20px;
}

.nav-bar-link {
  a:link,
  a:visited,
  a:active {
    color: $tertiary-text-color;
    transition: all 0.4s;
  }
  a:hover {
    border: 1px solid $dark-background-color;
    border-radius: 20px;
  }
}

// header section styles
.header-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: minmax(650px, auto);
  margin-top: 50px;
  // border: 1px solid grey;

  // background: linear-gradient(
  //     to right,
  //     rgba(3, 3, 3, 0.8),
  //     rgba(24, 24, 24, 0.5)
  //   ),
  //   url('/img/header-image.jpg');
  // background-size: cover;
  // background-position: bottom;
  // background-size: 100%;
}

.header-content-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr minmax(400px, auto);
  // border: 1px solid grey;
}

.text-box {
  display: grid;
  align-items: center;
  // border: 1px solid grey;
}

.heading-primary {
  color: $primary-text-color;
}

.heading-primary-main {
  display: block;
  font-size: $extra-large-font-size;
  font-weight: 700;

  animation-name: moveInLeft;
  animation-duration: 1s;
}

.heading-primary-sub {
  display: block;
  font-size: $large-font-size;
  font-weight: 200;
  letter-spacing: 4px;

  animation-name: moveInRight;
  animation-duration: 1s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.sub-heading-primary {
  color: $primary-text-color;
  margin-top: 40px;
}

.button,
.button:visited {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 30px;
  background: $tertiary-background-color;
  color: $light-text-color;
  border-radius: 50px;
  font-weight: bold;
  transition: all 0.5s;
}

.button:hover {
  background: $dark-background-color;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.button:active {
  background: $dark-background-color;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.image-box {
  display: grid;
  align-items: end;
  justify-items: end;
  // border: 1px solid grey;
}

.heading-image {
  width: 300px;
}

// Skills section stlyes
.container {
  position: relative;
  height: 600px;
  width: 100vw;
  display: grid;
}

.clip-background {
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 55%);
  background-color: $red-background-color;
}

.skills-container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr;
  // border: 1px solid grey;
  position: absolute;
}

.skills-content-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 4fr 1fr;
  // border: 1px solid grey;
}

.skills-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(350px, auto);
  column-gap: 40px;
  // border: 1px solid grey;
}

.skill-card {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 30px 60px;
  background-color: $light-background-color;
  text-align: center;
}

// Works section syles
.works-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: minmax(600px, auto);
  // border: 1px solid grey;
}

.works-content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  justify-items: center;
  gap: 30px;
  // border: 1px solid grey;
}

.project-card {
  display: grid;
  width: 380px;
  height: 320px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

// Contact Section Styles
.contact-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  background-color: $tertiary-text-color;
  color: $light-text-color;
  padding-top: 60px;
  padding-bottom: 20px;
  // border: 1px solid grey;
}

.contact-content-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr;
  grid-template-rows: 1fr;
  // border: 1px solid grey;
}

.contact-detail {
  padding-top: 5px;
}

.icon-list {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 40px;
  color: $light-text-color;
  align-items: center;
  // border: 1px solid grey;
}

.icon {
  width: 30px;
}

// Footer Section styles
.footer-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: minmax(50px, auto);
  // border: 1px solid grey;
  color: $light-text-color;
  background-color: $tertiary-background-color;
}

.footer-content-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  // border: 1px solid grey;
  align-items: center;
}

// *******************************************************************
// Screen size below 1200px
@media only screen and (max-width: 1200px) {
  // Navigation section styles
  nav {
    position: fixed;
    top: 0;
    background: $light-background-color;
    width: 100%;
    // border: 1px solid grey;

    display: grid;
    grid-template-columns: 1fr 11fr 1fr;
    z-index: 2;
  }

  // header section styles
  .header-container {
    display: grid;
    grid-template-columns: 1fr 11fr 1fr;
    grid-template-rows: minmax(650px, auto);
    margin-top: 60px;
    // border: 1px solid grey;
  }

  // Skills section stlyes
  .skills-content-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 11fr 1fr;
    // border: 1px solid grey;
  }

  // Works section syles
  .works-container {
    display: grid;
    grid-template-columns: 1fr 11fr 1fr;
    grid-template-rows: minmax(600px, auto);
    // border: 1px solid grey;
  }

  // Contact Section Styles
  .contact-container {
    display: grid;
    grid-template-columns: 1fr 11fr 1fr;
    grid-template-rows: 1fr;
    background-color: $tertiary-text-color;
    color: $light-text-color;
    padding-top: 60px;
    padding-bottom: 20px;
    // border: 1px solid grey;
  }

  // Footer Section styles
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 11fr 1fr;
    grid-template-rows: minmax(50px, auto);
    // border: 1px solid grey;
    color: $light-text-color;
    background-color: $tertiary-background-color;
  }
}

// ******************************************************************
// Screen size below 886px
@media only screen and (max-width: 886px) {
  $extra-large-font-size: 50px;

  // header section styles
  .header-content-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr minmax(200px, auto);
    // border: 1px solid grey;
  }
  .heading-primary-main {
    display: block;
    font-size: $extra-large-font-size;
    font-weight: 700;

    animation-name: moveInLeft;
    animation-duration: 2s;
  }

  .heading-image {
    width: 250px;
  }

  // Skills section stlyes
  .skills-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(350px, auto);
    column-gap: 20px;
    // border: 1px solid grey;
  }

  .skill-card {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 30px 30px;
    background-color: $light-background-color;
    text-align: center;
  }

  // Works section syles
  .works-content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    justify-items: center;
    gap: 30px;
    // border: 1px solid grey;
  }

  .project-card {
    width: 270px;
    height: 320px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
  }
}

// ******************************************************************
// Mobile Screen size below 624px
@media only screen and (max-width: 624px) {
  $extra-large-font-size: 34px;
  $larger-font-size: 28px;
  $large-font-size: 18px;
  $medium-font-size: 14px;
  $small-font-size: 14px;

  body {
    font-family: $general-font;
    font-size: $small-font-size;
    line-height: 1.7;

    a {
      text-decoration: none;
    }
  }

  // General Text Styles
  .large-bold-header-text {
    font-size: $large-font-size;
    font-weight: 700;
  }

  .medium-bolder-header-text {
    font-size: $medium-font-size;
    font-weight: 900;
  }

  .medium-bold-header-text {
    font-size: $medium-font-size;
    font-weight: 700;
  }

  .medium-header-text {
    font-size: $medium-font-size;
  }

  .small-bold-header-text {
    font-size: $small-font-size;
    font-weight: 700;
  }

  .section-header-container {
    display: grid;
    padding-bottom: 20px;
    justify-items: center;
    h2 {
      font-size: $larger-font-size;
      font-weight: 700;
    }

    p {
      font-size: $medium-font-size;
      font-weight: 300;
      text-align: center;
    }
  }

  .placeholder-div {
    // border: 1px solid grey;
  }

  .wrapper-container {
    padding-top: 60px;
  }

  // Navigation Section styles

  .nav-content-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 70px;
    // border: 1px solid grey;
    align-items: center;
  }

  .nav-bar {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;
    color: $tertiary-text-color;
    font-size: $small-font-size;
    font-weight: 500;
    // border: 1px solid grey;
  }

  .nav-bar-link {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
  }

  .nav-link {
    padding: 5px 5px;
    justify-self: center;
    border: 1px solid $light-background-color;
    border-radius: 20px;
  }

  // header section styles
  .header-container {
    display: grid;
    grid-template-columns: 1fr 11fr 1fr;
    grid-template-rows: minmax(650px, auto);
    margin-top: 30px;
    // border: 1px solid grey;
  }

  .header-content-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr minmax(100px, auto);
    // border: 1px solid grey;
  }
  .heading-primary-main {
    display: block;
    font-size: $extra-large-font-size;
    font-weight: 700;

    animation-name: moveInLeft;
    animation-duration: 2s;
  }

  .heading-primary-sub {
    display: block;
    font-size: $large-font-size;
    font-weight: 200;
    letter-spacing: 3px;

    animation-name: moveInRight;
    animation-duration: 2s;
  }

  .heading-image {
    width: 100px;
  }

  // Skills section styles
  .container {
    position: relative;
    height: 1000px;
    width: 100vw;
    display: grid;
  }

  .clip-background {
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%);
    background-color: $red-background-color;
  }

  .skills-card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 40px;
    // border: 1px solid grey;
  }

  .skill-card {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px 50px;
    background-color: $light-background-color;
    text-align: center;
  }

  // Works section syles
  .works-content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    gap: 30px;
    // border: 1px solid grey;
  }

  .project-card {
    width: 310px;
    height: 320px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
  }

  .contact-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    // border: 1px solid grey;
  }
}
